pl_ingest_population_data-FAILURE/pl_ingest_population_data-FAILURE.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_ablob_covidereportingsa":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pl_ingest_population_data-FAILURE')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Check if File Exists","description":"Check if file exists and triggger your pl to fire","type":"Validation","dependsOn":[],"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_population_raw_gz","type":"DatasetReference","parameters":{}},"timeout":"0.00:02:00","sleep":10}},{"name":"Get FIle Metadata","type":"GetMetadata","dependsOn":[{"activity":"Check if File Exists","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_population_raw_gz","type":"DatasetReference","parameters":{}},"fieldList":["columnCount","size","exists"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"If Column Count Matches","type":"IfCondition","dependsOn":[{"activity":"Get FIle Metadata","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(activity('Get FIle Metadata').output.columnCount,14)","type":"Expression"},"ifFalseActivities":[{"name":"Send Email_copy1","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://logicappsforadfemail.azurewebsites.net:443/api/email/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JKgkB_h2SLr1IUR-cINce_YBAufyZgM3w4Hi9bAhCWg","connectVia":{"referenceName":"AutoResolveIntegrationRuntime","type":"IntegrationRuntimeReference"},"method":"POST","headers":{},"body":{"value":"{\n    \"title\": \"PIPELINE DIDNT RUN\",\n    \"message\": \"DEMO-PIPELINE DINT RUN\",\n    \"color\": \"RED\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}","type":"Expression"}}}]}}],"annotations":[],"lastPublishTime":"2021-06-11T21:31:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_population_raw_gz')]"]},{"name":"[concat(parameters('factoryName'), '/ds_population_raw_gz')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_ablob_covidereportingsa')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"population_by_age.tsv.gz","container":"population"},"columnDelimiter":"\t","compressionCodec":"gzip","compressionLevel":"Optimal","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/default')]","type":"Microsoft.DataFactory/factories/managedVirtualNetworks","apiVersion":"2018-06-01","properties":{"preventDataExfiltration":false},"dependsOn":[]}]}